/* -----------ACHIEVEMENTS----------- */
.about_achievements {
   margin-top: 3rem;
}

.about_achievements_container {
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   gap: 5rem;
}

.about_achievements_right > p {
   margin: 1.6rem 0 2.5rem;
}

.achievements_cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem;
}

.achievement_card {
   background: var(--color-bg1);
   padding: 1.6rem;
   border-radius: 1rem;
   text-align: center;
   transition: var(--transition);
}

.achievement_card:hover {
   box-shadow: 0 3rem 3rem rgba(0, 0, 0, .2);
   background: var(--color-bg2);
}

.achievement_icon {
   background: var(--color-danger);
   padding: .6rem 1.2rem;
   border-radius: 1rem;
   display: inline-block;
   margin-bottom: 2rem;
   font-size: 2rem;
}
.achievement_card:nth-child(2) .achievement_icon {
   background: var(--color-success);
}
.achievement_card:nth-child(3) .achievement_icon {
   background: var(--color-primary);
}

/* -----------TEAM----------- */
.team {
   background: var(--color-bg1);
   box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5);
}

.team_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;
}

.team_member {
   padding: 2rem;
   background: var(--color-bg2);
   border: 1px solid transparent;
   transition: var(--transition);
   position: relative;
   overflow: hidden;
}

.team_member:hover {
   background: transparent;
   border-color: var(--color-primary);
}

.team_member:hover > .team_member_image {
   filter: saturate(1);
}

.team_member_image {
   transition: var(--transition);
   filter: saturate(0);
}

.team_member_info * {
   text-align: center;
   margin-top: 1.4rem;
}

.team_member_info p {
   color: var(--color-light);
}

.team_member_socials {
   position: absolute;
   top: 50%;
   transform: translate(100%, -50%);
   right: 0;
   display: flex;
   flex-direction: column;
   background: var(--color-primary);
   border-radius: 1rem 0 0 1rem;
   transition: var(--transition);
}

.team_member:hover .team_member_socials {
   box-shadow: -2rem 0 2rem rgba(0, 0, 0, .3);
   transform: translate(0, -50%);
}

.team_member_socials a {
   padding: 1rem;
}

/* ----------MEDIA QUERIES (TABLET)---------- */
@media screen and (max-width: 1024px) {
   /* -----------ACHIEVEMENTS----------- */
   .about_achievements {
      margin-top: 2rem;
   }

   .about_achievements_container {
      grid-template-columns: 1fr;
      gap: 4rem;
   }

   .about_achievements_left {
      width: 80%;
      margin: 0 auto;
   }

   /* -----------TEAM----------- */
   .team_container {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
   }

   .team_member {
      padding: 1rem;
   }
}

/* ----------MEDIA QUERIES (IPHONE)---------- */
@media screen and (max-width: 600px) {
   .achievements_cards {
      grid-template-columns: 1fr 1fr;
      gap: .7rem;
   }

   .team_container {
      grid-template-columns: 1fr 1fr ;
      gap: .7rem;
   }

   .team_member {
      padding: 0;
   }

   .team_member p {
      margin-bottom: 1.5rem;
   }
}